* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}
a {
  text-decoration: none;
  color: #1b1d1c;
}

/* nav{
  display:flex;
  min-height:12rem;
  justify-content:space-between;
  align-items:center;
  color:#1b1d1c;
}
ul{
  list-style-type: none;
}
ul li{
  display: inline-block;
}
ul li + li{
  margin-left:20px;
}

ul li a{
  color:#1b1d1c;
  font-family: Poppins;
}

ul li a:hover{
  text-decoration: underline;
} */
footer {
  margin-top: 50px;
}
.active {
  background-color: #1b1d1c;
  color: #eee;
  padding: 10px 15px;
}

.site-name {
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: 2px;
}
.text-muted {
  color: gray;
}
.slogan {
  font-weight: 400;
}
.underline {
  text-decoration: underline;
}
.flex {
  display: flex;
}
.p-50 {
  padding: 50px;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}
.section-title {
  font-size: 2.5em;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.landing-text {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}
.d-block {
  display: block;
}

.btn {
  padding: 1.8vw 2.2vw;
  display: inline-block;
  background-color: #eee;
  color: #1b1d1c;
  font-weight: 500;
}
.btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn-dark {
  color: #eee;
  background-color: #1b1d1c;
}
.action-button {
  padding: 5px 15px;
  color: black;
  display: inline-block;
  border: 1px solid black;
}
.action-button + .action-button {
  margin-left: 3px;
}
.action-button:hover {
  color: #eee;
  background-color: #1b1d1c;
}
.my-10 {
  margin: 10px 0;
}
.my-20 {
  margin: 20px 0;
}
.my-30 {
  margin: 30px 0;
}
.mx-10 {
  margin: 0 10px;
}
.mr-10 {
  margin-right: 10px;
}

.portfolio-list {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 20px;
}
.portfolio-card {
  padding: 20px 0;
  position: relative;
}
.plan-card {
  padding: 30px;
  min-height: 300px;
  border: 2px solid black;
  border-bottom-right-radius: 50px;
}
.portfolio-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #1b1d1c;
}

.portfolio-img-border {
  padding: 0px 10px;
  border-right: 1px solid #1b1d1c;
  border-left: 1px solid #1b1d1c;
}

.portfolio-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: top;
  position: relative;
  filter: grayscale(99%);
  transition: all ease 0.5s;
}

.portfolio-image:hover {
  filter: grayscale(0%);
}

.portfolio-icon {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  right: 20px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px -2px 10px rgb(206, 206, 206);
  border-radius: 50%;
  padding: 5px;
}
.padding-box {
  padding: 15px;
  border-left: 2px solid black;
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.social-icons a {
  margin-right: 10px;
}
.bottom-line {
  border-bottom: 2px solid black;
}

.icon {
  color: #1b1d1c;
}
section {
  padding-block: 2rem;
}

.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.tech-stack-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
}
.tech-stack-item:before {
  content: attr(title);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  font-family: 'Calibri', sans-serif;
  font-size: 9px;
  transform: translateY(10px);
  transition: all 0.15s ease-in-out;
  padding: 3px 5px;
  background-color: white;
  font-weight: 500;
}
.tech-stack-item:hover {
  box-shadow: unset;
}
.tech-stack-item:hover:before {
  opacity: 1;
  visibility: visible;
  transform: translateY(3px);
}

@media only screen and (max-width: 768px) {
  /* ul{
    display: none;
  } */
  .portfolio-list {
    grid-template-columns: repeat(1, 100%);
  }
}

@media only screen and (min-width: 768px) {
  .landing-text {
    font-size: 4.5rem;
  }
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .empty-text {
    -moz-text-fill-color: white;
    -webkit-text-fill-color: white;
    -moz-text-stroke-color: black;
    -webkit-text-stroke-color: black;
    -moz-text-stroke-width: 1.2px;
    -webkit-text-stroke-width: 1.2px;
  }
}
